@model IEnumerable<BookKeeping45.QueryModel.LegoSet>
@{
    ViewBag.Title = "All items";
}


<div ng-app="app" ng-controller="bookkeepingController as vm">


    <div class="container">
        <table id="sheetTable" class="table table-condensed">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Purchase price</th>
                <th>IsSold</th>
                <th>Sell price</th>
                <th>Profit</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="legoSet in vm.inventory">
                <td><span>{{legoSet.number}}</span></td>
                <td><span>{{legoSet.name}}</span></td>
                <td><span>{{legoSet.purchasePrice}}</span></td>
                <td><input type="checkbox" ng-model="legoSet.isSold" disabled /></td>
                <td><span>{{legoSet.sellPrice}}</span></td>
                <td><span>{{legoSet.profit  }}</span></td>
                <td>
                    <!--
                        without seperate controller:
                        <button data-toggle="modal" data-target="#markAsSoldModal" ng-click="vm.setWorkingCopy(legoSet)">Mark as sold</button>-->
                    <button ng-click="vm.showMarkAsSoldModal(legoSet)">Mark as sold</button>
                    <button ng-click="vm.showEditModal(legoSet)">Edit</button>
                    <button ng-click="vm.showDeleteModal(legoSet)">Delete</button>
                </td>
            </tr>
        </table>
        <button ng-click="vm.showAddModal({})">Add new set</button>
    </div>

   <!--
    without seperate controller:

    <div id="markAsSoldModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mark item as sold</h4>
                </div>
                <div class="modal-body">
                    <p><input ng-model="vm.workingCopy.sellPrice" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.sellItem(vm.workingCopy.id, vm.selectedSetworkingCopy.sellPrice)">Mark as sold</button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

-->



</div>



