<div class="modal-header">
    <button class="close" type="button"  ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4"><span>Number: </span></div>
        <div class="col-md-8"><input class="form-control" ng-model="selected.number" /></div>
    </div>

    <div class="row">
        <div class="col-md-4"><span>Name: </span></div>
        <div class="col-md-8"><input class="form-control" ng-model="selected.name" /></div>
    </div>
    <div class="row">
        <div class="col-md-4"><span>Purchase date: </span></div>
        <div class="col-md-8"><input class="form-control" type="date" ng-model="selected.purchaseDate" /></div>
    </div>
    <div class="row">
        <div class="col-md-4"><span>Purchase price: </span></div>
        <div class="col-md-8"><input class="form-control" type="number" ng-model="selected.purchasePrice" /></div>
    </div>
    <div class="row">
        <div class="col-md-4"><span>For sale: </span></div>
        <div class="col-md-8"><input class="form-control" type="checkbox" ng-model="selected.isForSale" /></div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
